body {
    margin: 0;
    width: 100%;
}
.topbar {
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: #800000;
	opacity: 0.8;
	position: fixed;
	*/ padding-top: 15px;
}

.elements {
	margin-top: 15px;
}

.navigation {
	opacity: 0.7;
	background-color: #000;
	height: 200px;
	width: 200px;
	float: right;
	margin-top: 17px;
}

.h1 {
	color: #fff;

}

.hh {
	font-family: 'futura', "Trebuchet MS", Arial, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	margin-bottom: 30px;
	color: #262626;
}
.nav-left {
	width: 30%;
	float: left;
	padding-left: 25px;
}

.nav-right {
	width: 70%;
	float: right;
	text-align: right;
	padding-right: 25px;
	padding-top: 5px;
	font-weight: bold;
}


.icon {
	margin: 12px;
}

ul {
	color: #fff;
	text-decoration: none;
	list-style-type: none;
	font-size: 25px;
	letter-spacing: 3px;
	margin-top: 30px;
	text-align: right;
	display: inline;
}

li {
	margin-bottom: 20px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
}

a {
	display: inline;
	color: #fff;
	font-size: 13px;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

a:active {
	text-decoration: none;
	color: #fff;
}

a:link {
	text-decoration: none;
	color: #fff;
}

.home-body {
	width: 100%;

}

.spacer {
	height: 1000px;
}

.spacer1 {
	height: 140px;

}

.spacer2 {
	height: 30px;
}

.wrappers {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 130px;
    padding-left: 0px;
    width: 100%;
    text-align: center;



}


/*FOOTER*/

@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);

/* zocial */

[class*="brandico-"]:before {
	font-family: 'brandico', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}


.social {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	line-height: 50px;
	font-family: brandico;
	font-size: 28px;
	text-align: center;
	color: #555;
	border-radius: 10px;
	background: #94a964;
	overflow: hidden;
	cursor: pointer;
}

.social:hover {
	background-color: ;
}

.social img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.social:hover {
	background: #3e5036;
}

.columns {
	display: flex;
	flex-flow: row wrap;

}
/* Create three equal columns that floats next to each other */
.column {
	position: relative;
    width: 33.33%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    position: relative;
	height:200px;
	width:300px;

}

.icon {
  display: block;
  width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 12px;
  right: 0;
  background-color: #963030;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.thumb {
	height:100px;
	width:100px;
	border-radius: 10px;  /* Rounded border */
    padding: 3px; /* Some padding */
}

.thumb:hover {
    box-shadow: 0 0 2px 1px rgb(174, 55, 55);
}
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}