@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

.jumbotron {
    
}

.heading {
    color: white;
    font-family: 'Mukta Mahee', sans-serif;
}

#shapewrapper {
    
}

.footer {
    text-align: center;
}

body {
    background: #333;
}

.spiral {
  fill:none;
  fill-rule:
  evenodd;
  stroke:#fff;
  stroke-width:0.75
}
.spiral:hover path {
  d: path("m 91.470238,106.5 c 2.198332,2.95637 18.266112,5.17783 16.252982,4.40972 -5.45547,-2.08152 -26.466449,-10.19443 -23.560528,-14.237096 5.19801,-7.231383 15.842168,-6.602778 22.048608,-1.133943 9.10821,8.025739 7.95877,22.337919 -0.12597,30.616069 -10.775689,11.03348 -28.867032,9.3382 -39.183533,-1.38588 C 53.919533,111.27369 56.171862,89.356653 69.5476,77.017871 85.74741,62.073952 111.51407,64.889047 125.86606,80.923589 142.77937,99.819741 120.4362,170.65248 120.70042,145.80951 121.08007,110.11312 76.193636,159.2362 57.830377,137.87206 36.964872,113.59676 48.28687,89.066755 72.319413,68.702404 99.280293,45.856679 108.7942,51.701273 131.15771,78.403735 155.98544,108.04853 150.07394,121.4483 120.70042,145.80951");

}

